body {
    background-image: url("../assets/images/background.jpeg");
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 1440px;
    background-image: url("../assets/images/wall.png");
    margin: 0px auto;
    gap: 2rem;
}

.menu {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #161423;
    color: #f2f2f9;
}

.menu h2 {
    color: #d82323;
}

.menu-time, .menu-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.panel {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.panel-row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.square {
    height: 150px;
    width: 150px;
    border: 2px solid #161423;
    border-radius: 5px;
    background-color: #1867a0;
}

.enemy {
    background-image: url("../assets/images/ralph.gif");
    background-size: cover;
    background-color: #26dddd;
    cursor: pointer;
}

.hit {
    background-color: #1fcb23;
}

.button {
    margin-top: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    border: 2px solid #1fcb23;
    cursor: pointer;
    color: #f2f2f9;
    transition: all 1s;
}

.button:hover {
    background-color: #1fcb23;
}